<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="Assembled Realities">
		<!--<link rel="icon" href="../../favicon.ico">-->
		<title>Uncharted Universes: A Play-by-Post Sidequest from The Fort</title>

		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">-->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<style>
			.ar-nav-item{cursor:pointer;text-decoration: none;}
		</style>
	</head>
	<body>
		<div id="uuapp" class="w3-container w3-padding">
			<div id="navUI" class="w3-margin-bottom w3-border-black w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-card-4 w3-center w3-round-xlarge">
				Party | Ship | Factions | Advacement | Crews | Vehicles
			</div>
			<div id="partyUI" class="w3-card-4">
				<div v-for="pc in pcs" class="w3-container w3-padding w3-border-black w3-bottombar w3-row">
					<div class="w3-col s12 m4 l3 w3-margin-bottom">
						<div class="w3-small">{{pc.player}}</div>
						<div class="w3-center w3-panel"><i class="fas fa-user-astronaut fa-7x"></i></div>
						<div class="w3-small">{{pc.description}} + Scars?</div>
					</div>
					<div class="w3-col s12 m4 l3 w3-margin-bottom">
						{{pc.name}} ({{pc.pronouns}})<br />
						<i>{{pc.archetype}}</i><br />
						{{pc.c1}}, {{pc.c2}}, {{pc.o}}<br />
						<strong>Classification</strong> {{pc.species}}<br />
						<strong>Skills</strong> {{pc.skills.length}}<strong> / XP</strong> {{pc.XP}}<br />
						<strong>+XP</strong> {{pc.advancement}}
					</div>
					<div class="w3-col s12 m4 l6 w3-margin-bottom">
						<div class="w3-margin-bottom">
							<span class="w3-badge w3-red w3-round-large" title="Mettle"><i class="fas fa-crosshairs"></i> {{pc.mettle}}</span>
							<span class="w3-badge w3-red w3-round-large" title="Physique"><i class="fas fa-heartbeat"></i> {{pc.physique}}</span>
							<span class="w3-badge w3-red w3-round-large" title="Expertise"><i class="fas fa-puzzle-piece"></i> {{pc.expertise}}</span>
							<span class="w3-badge w3-red w3-round-large" title="Influence"><i class="fas fa-comments"></i> {{pc.influence}}</span>
							<span class="w3-badge w3-red w3-round-large" title="Interface"><i class="fas fa-wifi"></i> {{pc.interface}}</span>
							<span class="w3-badge w3-red w3-round-large" title="Armor"><i class="fas fa-shield-alt"></i> {{pc.armor}}</span>
						</div>
						<uw-tracker label="Status" icon="fas fa-user-circle" v-bind:track="getTrackerLabels()"></uw-tracker>
						<uw-tracker label="Harm" icon="fas fa-medkit" v-bind:track="pc.injuries"></uw-tracker>
						<uw-tracker label="Stun" icon="fas fa-pills" v-bind:track="pc.stun"></uw-tracker>
						<uw-tracker label="Debt" icon="fas fa-coins" v-bind:track="pc.debt"></uw-tracker>
						<div><i class="fas fa-notes-medical"></i> <strong class="w3-small">Minor Debilities</strong> <span class="w3-tiny" v-for="deb in pc.debilities[0]">{{deb}} </span></div>
						<div><i class="fas fa-x-ray"></i> <strong class="w3-small">Major Debilities</strong> <span class="w3-tiny" v-for="deb in pc.debilities[1]">{{deb}} </span></div>
						<p>
						Skills
						Assets
						Mods
						Data Points
						Factions</p>
					</div>
				</div>
			</div>
		</div>
		<!--<footer class="w3-container">
			Built using <a href="https://www.w3schools.com/w3css/" target="_blank">W3.CSS</a> and <a href="https://fontawesome.com/" target="_blank">Font Awesome</a>
			<a href="https://github.com/assembled-realities" title="Assembled Realities on github.com" target="_blank"><i class="fab fa-github fa-2x w3-hover-text-amber"></i></a>
			<a href="https://assembled-realities.itch.io/" title="Assembled Realities on itch.io" target="_blank"><i class="fas fa-gamepad fa-2x w3-hover-text-amber"></i></a>
			Released under the <a href="https://github.com/assembled-realities/assembled-realities.github.io/blob/master/LICENSE" target="_blank">MIT License</a>
			Copyright &copy; 2018 Assembled Realities
		</footer>
		<script>
			function showNav(){document.getElementById('ARnav').style.display='block';}
			function hideNav(){document.getElementById('ARnav').style.display='none';}
		</script>
		, <a href="https://vuejs.org/" target="_blank">Vue.js</a>-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script>
			var UUUI = (function(){
				var uuDef = {
					player:function(){return {

					};},
					pc:function(){return {
						name:'',c1:'',c2:'',o:'',player:'',description:'',url:'',
						armor:0,
						mettle:0,
						physique:0,
						influence:0,
						expertise:0,
						interface:0,
						species:'Humanoid',
						pronouns:'',
						archetype:'Unnamed Archetype',
						advancement:'',
						XP:0,
						skills:[],
						dataPoints:[],
						injuries:[[],[],[],[],[]],
						stun:[[],[],[],[],[]],
						debilities:[[],[]],
						scars:[],
						debt:[[],[],[],[],[]]
					};},
					crew:function(){return {

					};},
					faction:function(){return {

					};}
				};
				Vue.component('uw-tracker',{
					props: ['label','icon','track'],
					template: 
					'<div class="w3-row"><div class="w3-col l2 m2 s2"><i v-bind:class="icon"></i> <strong class="w3-small">{{label}}</strong></div><div class="w3-tiny w3-col l2 m2 s2 w3-center w3-border-left w3-border-black" v-for="stage in track"><span v-if="stage.length === 0">--</span><span v-else class="" v-for="item in stage">{{item}}</span></div></div>'
				});
				var uuVue = new Vue({
					el:'#uuapp',
					data:{players:[],pcs:[],factions:[],crews:[]},
					methods:{
						addPlayer:function(oPlayer){
							var nPlayer = uuDef.player();
							_.extendOwn(nPlayer,oPlayer);
							this.players.push(nPlayer);
						},
						addPC:function(oPC){
							console
							var nPC = uuDef.pc();
							_.extendOwn(nPC,oPC);
							this.pcs.push(nPC);
						},
						addFaction:function(oFaction){
							var nFaction = uuDef.faction();
							_.extendOwn(nFaction,oFaction);
							this.factions.push(nFaction);
						},
						addCrews:function(oFaction){
							var nCrews = uuDef.crew();
							_.extendOwn(nCrews,oCrews);
							this.crew.push(nCrews);
						},
						getPlayers:function(){
							return this.players;
						},
						getPCs:function(){
							return this.pcs;
						},
						getFactions:function(){
							return this.factions;
						},
						getTrackerLabels:function(){
							return [['Minor'],['Major'],['Severe'],['Critical'],['Fatal/Crushing']];
						}
					}
				});
				var pcWalls = uuDef.pc();
				_.extendOwn(pcWalls,{
					name:'These-Walls-Do-Talk',c1:'Consul',c2:'Starfarer',o:'Occult',advancement:'Consul: A taste of exotica is enjoyed',description:'Sunny,Polite,Peculiar',pronouns:'They/Them',species:'Spirit',
					mettle:1,influence:2,expertise:1,interface:-1,archetype:'Resident Spirit',player:'@AssembledRealities#7978'
				});
				pcWalls.debt[0].push('Daak Kwáan');
				pcWalls.debt[2].push('VolaBall League');
				var pcPride = uuDef.pc();
				_.extendOwn(pcPride,{
					name:'Pride',c1:'Explorer',c2:'Fanatic',o:'Rustic',advancement:'Explorer: A ludicrous stunt turns the tides',description:'Battered, Weary, Haggard',species:'Robot',pronouns:'He/Him',
					physique:1,mettle:2,expertise:1,interface:-1,player:'@Animenite97#5269'
				});
				pcPride.debt[0].push('Daak Kwáan');
				pcPride.debt[2].push('DarCon: New Lands');
				var pcDoc = uuDef.pc();
				_.extendOwn(pcDoc,{
					name:'Doc Rasper',c1:'Academic',c2:'Starfarer',o:'Programmed',advancement:'Academic: When a life is saved or destroyed by science',description:'Distracted, Tolerant, Harmless',species:'Udrok',
					physique:-1,influence:1,expertise:2,interface:1,player:'@Observer138#2652'
				});
				pcDoc.debt[0].push('Daak Kwáan');
				pcDoc.debt[2].push('C3');
				var pcHansby = uuDef.pc();
				_.extendOwn(pcHansby,{
					name:'D.Z.C. Hansby & Balthazar',c1:'Technocrat',c2:'Starfarer',o:'Crowded',advancement:'Technocrat: When a pivotal data cluster is accessed.',description:'Lively, Tolerant, Awkward',species:'Resurrected Semizombie',
					mettle:-1,physique:1,expertise:1,interface:2,player:'@Taro#0518'
				});
				pcHansby.debt[3].push('Daak Kwáan');
				uuVue.addPC(pcWalls);
				uuVue.addPC(pcPride);
				uuVue.addPC(pcDoc);
				uuVue.addPC(pcHansby);
				return uuVue;
			})();

		</script>
		<script>
			
		</script>
	</body>
</html>